{% extends "home.html" %}



{% block content %}

  <form method="post" novalidate>
    {% csrf_token %}

      <label for="validationCustom01">Nazwa</label>
      {{form.name }}


      <label for="validationCustom03">Cena</label>
      {{ form.price }}



      <label for="validationCustom03">Link</label>
        {{ form.link }}


    <button class="btn btn-primary" type="submit">
      Zapisz
    </button>
  </form>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>


{% endblock %}

